* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.menu {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    text-shadow: #fff;
    text-transform: uppercase;
}

.menu p {
    background-color: rgb(255, 255, 255);
    /* color: rgb(0, 0, 0); */
    padding: 10px;
    margin: 10px;
    display: inline-flex;
    border-radius: 20%;
    position: relative;
    border: 2px solid rgb(255, 85, 85);
    /* top: 50%;
    bottom: 50%;
    transform: translate(-50px , -50px); */
    box-shadow: 0px 0px 5px #fff;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.week {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 5px;
}

.week .line1, .line2 {
    display: flex;
    flex-direction: row;
}

.line1 a, .line2 a {
    /* padding: 0 10px; */
    background-color: rgb(247, 233, 233);
    padding: 10px;
    margin-left: 2px;
    margin-top: 2px;
    text-decoration: none;
}

/* .line1 p:second-child{
    background-color: rgb(184, 44, 44);
    } */

/* .mondaySchedule-2nd,.mondaySchedule-4th{
     display: flex;
    
    flex-direction: column;
    justify-content: right;
    margin-left: 60%;
    color:rgb(172, 41, 41);
    gap:12px;
} */

.time {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}

.time::before {
    content: "⌚ ";
}

.subject {
    text-transform: uppercase;
}

.subject::before {
    content: "📚 ";
}

.techerName::before {
    content: "👨‍🏫 ";
}

/* .MondaySchedule,.TuedaySchedule,.WednesdaySchedule,.ThrusdaySchedule,.FridaySchedule,.SaturdaySchedule{
    display: flex;
    flex-direction: column;
    gap:12px;
}  */

/* .container2{
    display: flex;
    flex-direction: column;
    gap:12px;
} */

/* .mondaySchedule-3rd{
    gap: 12px;
} */

/* .container2 {
    margin-top: 30px;
} */

.container2 .left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 12%;
    margin-top: 50px;
    color: blue;
}

.container2 .right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 45%;
    margin-top: 50px;
    color: rgb(172, 41, 41);
}

.MondaySchedule, .TuedaySchedule, .WednesdaySchedule, .ThrusdaySchedule, .FridaySchedule, .SaturdaySchedule {
    padding-top: 14px;
    padding-bottom: 50px;
    position: relative;
    background-color: #FFCAB1;
    z-index: 2;
}

.MondaySchedule::after {
    position: absolute;
    content: "MONDAY";
    color: rgb(0, 0, 0);
    opacity: 50%;
    z-index: -1;
    writing-mode: vertical-rl;
    text-orientation: upright;
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.TuedaySchedule {
    background-color: #C1D7AE;
}

.WednesdaySchedule {
    background-color: #ECDCB0;
}

.ThrusdaySchedule {
    background-color: #8CC084;
}

.FridaySchedule {
    background-color: #968E85;
}

.SaturdaySchedule {
    background-color: #ECDCB0;
}

h1 {
    /* align-items: center; */
    text-align: center;
    padding-top: 35px;
}

footer {
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}

/* Sebd To Top Button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

/* Ribbon */

.box {
    width: 200px;
    height: 300px;
    position: relative;
    border: 1px solid #BBB;
    background: #EEE;
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
    <<<<<<< HEAD
}

=======
}

>>>>>>>57c90382e66bb870d834209bb2c3799b8e269d34